@charset "UTF-8";
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yu Mincho", "YuMincho", "MS PMincho", serif;
  letter-spacing: 0;
}

/* common */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  padding-inline: 8rem;
}

@media (max-width: 767px) {
  .inner {
    padding-inline: 3rem;
  }
}
.header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.15);
  color: rgb(255, 255, 255);
}
.header .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo a {
  font-size: 2rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-decoration: none;
  color: inherit;
}
.header__logo a:hover {
  opacity: 0.7;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.1rem;
     -moz-column-gap: 3.1rem;
          column-gap: 3.1rem;
  list-style: none;
}
.header__nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-decoration: none;
  color: inherit;
}
.header__nav ul:hover {
  opacity: 0.7;
}

.fv {
  position: relative;
  aspect-ratio: 1080/800;
  padding: 0;
  background: rgba(0, 0, 0, 0.15);
}
.fv__contents {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.fv__catch h2 {
  font-size: 4rem;
  line-height: 1.75;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.about__contents {
  position: relative;
  width: 100%;
}
.about__image img {
  width: 100%;
  min-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__catch {
  position: absolute;
  top: 50%;
  left: 40.5555555556%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.about__catch h2 {
  font-size: 3rem;
  line-height: 118%;
  margin-left: 5.5555555556vw;
  font-weight: 500;
}
.about__catch p {
  font-size: 1.8rem;
  line-height: 137%;
  letter-spacing: 0.2em;
  font-weight: 500;
}

.service {
  position: relative;
  padding: 8rem 0;
  background: rgba(77, 150, 0, 0.1);
}
.service__title {
  text-align: center;
}
.service__title h2 {
  font-size: 3rem;
  color: rgb(77, 150, 0);
}
.service__title p {
  font-size: 2rem;
  margin-top: 0.6rem;
}
.service__title {
  margin-top: 0.8rem;
  margin-bottom: 6.8rem;
}
.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12rem;
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.service__item .service__image {
  width: 62.5%;
  position: relative;
  z-index: 20;
}
.service__item .service__image img {
  height: auto;
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}
.service__item .service__image h3 {
  font-size: 1.6rem;
  margin-top: 1.9rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.service__item .service__textarea {
  background-color: rgb(77, 150, 0);
  color: rgb(255, 255, 255);
  aspect-ratio: 500/250;
  width: 52.0833333333%;
  position: absolute;
  right: 0;
  bottom: -3rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.service__item .service__textarea h4 {
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5rem;
  padding-left: 49.6%;
}
.service__item .service__textarea p {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
  text-align: left;
  padding-left: 49.6%;
}
.service__item--reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.service__item--reverse .service__image h3 {
  text-align: right;
}
.service__item--reverse .service__textarea {
  right: auto;
  left: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.service__item--reverse .service__textarea h4 {
  padding-left: 8%;
}
.service__item--reverse .service__textarea p {
  padding-left: 8%;
}

.works {
  padding: 8rem 0 9.7rem;
}
.works__title {
  text-align: center;
}
.works__title h2 {
  font-size: 3rem;
  color: rgb(77, 150, 0);
}
.works__title p {
  font-size: 2rem;
  margin-top: 0.6rem;
}
.works__contents {
  margin-top: 6.8rem;
}
.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.works__item {
  -webkit-column-gap: 4.1666666667vw;
     -moz-column-gap: 4.1666666667vw;
          column-gap: 4.1666666667vw;
}
.works__item .works__image img {
  width: 20.8333333333vw;
  aspect-ratio: 200/200;
}
.works__item .works__textarea {
  text-align: center;
}
.works__item .works__textarea h3 {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 500;
  margin-top: 1.5rem;
}

.news {
  padding: 8rem 0;
  background: rgba(77, 150, 0, 0.1);
}
.news__title {
  text-align: center;
}
.news__title h2 {
  font-size: 3rem;
  color: rgb(77, 150, 0);
}
.news__title p {
  font-size: 2rem;
  margin-top: 0.6rem;
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6.5217391304vw;
     -moz-column-gap: 6.5217391304vw;
          column-gap: 6.5217391304vw;
}
.news__item {
  margin-top: 6.8rem;
  width: 46.7391304348vw;
  background: rgb(255, 255, 255);
}
.news__item .news__catch {
  background: rgb(77, 150, 0);
  width: 100%;
  height: 4.6296296296vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.5555555556vw;
}
.news__item .news__catch h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-left: 1.8518518519%;
}
.news__article-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid rgb(77, 150, 0);
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  padding-bottom: 1.2037037037%;
}
.news__article-link:hover {
  opacity: 0.7;
}
.news__date {
  margin-right: 2rem;
  font-size: 1.6rem;
  font-weight: 500;
  width: 4.9074074074vw;
  margin-top: 2.1296296296%;
  margin-left: 1.9444444444%;
}
.news__text {
  font-size: 1.8rem;
  line-height: 1.3888888889;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 2.7777777778%;
  margin-left: 6.3888888889%;
}
.news__more {
  text-align: right;
  margin-top: 1.5rem;
}
.news__more a {
  font-family: "Yu Mincho", serif;
  font-size: 1.4rem;
  line-height: 2.3571428571;
  font-weight: 500;
  color: rgb(77, 150, 0);
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.news__more a:hover {
  opacity: 0.7;
}
.news__more a::after {
  content: "";
  position: absolute;
  top: 1.1956521739vw;
  right: 2.7173913043vw;
  bottom: 8px;
  width: 35px;
  height: 15px;
  background: url("../images/more.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.company {
  padding: 8rem 0;
}
.company__title {
  text-align: center;
}
.company__title h2 {
  font-size: 3rem;
  color: rgb(77, 150, 0);
}
.company__title p {
  font-size: 2rem;
  margin-top: 0.6rem;
}
.company-item {
  position: relative;
}
.company-item__map {
  position: relative;
  aspect-ratio: 600/400;
  width: 65.2173913043%;
  z-index: 20;
}
.company-item__info {
  background: rgb(77, 150, 0);
  width: 54.347826087%;
  aspect-ratio: 500/262;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  bottom: -3rem; /* 元のコードの意図通り！ */
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 4.9rem 0.5rem 4.2rem 22rem;
}
.company-item {
  /* ▼ 文字の余白（前回と同じ） */
}
.company-item__name p {
  font-size: 2rem;
}
.company-item__address p {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 1.5rem;
}
.company-item__tel {
  margin-top: 1.5rem;
}
.company-item__tel a {
  font-size: 1.6rem;
  pointer-events: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.company-item__tel span {
  font-size: 1.6rem;
}
.company-item__mail {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.company-item__mail a {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  color: rgb(255, 255, 255);
}
.company-item__mail a:hover {
  opacity: 0.7;
}

.contact {
  padding: 8rem 0;
  background: rgba(77, 150, 0, 0.1);
}
.contact__title {
  text-align: center;
}
.contact__title h2 {
  font-size: 3rem;
  color: rgb(77, 150, 0);
}
.contact__title p {
  font-size: 2rem;
  margin-top: 0.6rem;
}
.contact__contents {
  width: 100%;
  max-width: 880px;
  margin: 5rem auto 0;
  padding: 0 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact__text {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
}
.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
}
.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.contact__item:has(.contact__input--checkbox), .contact__item:has(.contact__policy), .contact__item:has(textarea) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}
.contact__item:has(.contact__input--checkbox) .contact__label,
.contact__item:has(.contact__input--checkbox) .contact__input,
.contact__item:has(.contact__input--checkbox) .contact__policy, .contact__item:has(.contact__policy) .contact__label,
.contact__item:has(.contact__policy) .contact__input,
.contact__item:has(.contact__policy) .contact__policy, .contact__item:has(textarea) .contact__label,
.contact__item:has(textarea) .contact__input,
.contact__item:has(textarea) .contact__policy {
  width: 100%;
}
.contact__label {
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.5rem;
}
.contact__label p {
  margin: 0;
}
.contact__label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__label label .required {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.contact__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact__item:nth-child(1) .contact__input {
  margin-left: 9.5rem;
}
.contact__item:nth-child(3) .contact__input {
  margin-left: 1.9rem;
}
.contact__item:nth-child(4) .contact__input {
  margin-left: 3rem;
}
.contact__input input[type=text],
.contact__input input[type=email],
.contact__input select,
.contact__input textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  border: none;
  background: rgb(255, 255, 255);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  outline: none;
}
.contact__input input[type=text]::-webkit-input-placeholder, .contact__input input[type=email]::-webkit-input-placeholder, .contact__input select::-webkit-input-placeholder, .contact__input textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.contact__input input[type=text]::-moz-placeholder, .contact__input input[type=email]::-moz-placeholder, .contact__input select::-moz-placeholder, .contact__input textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.contact__input input[type=text]:-ms-input-placeholder, .contact__input input[type=email]:-ms-input-placeholder, .contact__input select:-ms-input-placeholder, .contact__input textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.contact__input input[type=text]::-ms-input-placeholder, .contact__input input[type=email]::-ms-input-placeholder, .contact__input select::-ms-input-placeholder, .contact__input textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.contact__input input[type=text]::placeholder,
.contact__input input[type=email]::placeholder,
.contact__input select::placeholder,
.contact__input textarea::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.contact__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M0 0l5 6 5-6z" fill="%234d9600"/></svg>');
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  cursor: pointer;
}
.contact__input textarea {
  resize: vertical;
  min-height: 150px;
  line-height: 1.5;
  aspect-ratio: 800/200;
}
.contact__input--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding-top: 1.5rem;
}
.contact__input--radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}
.contact__input--radio label input {
  margin-right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}
.contact__item:nth-child(2) .contact__input--radio {
  margin-left: 14rem;
}
.contact__input--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem 0;
}
.contact__input--checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact__input--checkbox label input {
  margin-right: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
}
.contact__policy {
  width: 100%;
}
.contact__policy-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.contact__policy-box {
  width: 100%;
  height: 300px;
  background: rgb(255, 255, 255);
  border: none;
  padding: 4rem;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 800/300;
}
.contact__policy-box p {
  font-size: 1.8rem;
  line-height: 1.7222222222;
  margin: 0;
}
.contact__submit {
  text-align: center;
  margin-top: 4rem;
}
.contact__submit button {
  background: rgb(77, 150, 0);
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 6rem;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-top: 8.8rem;
}
.contact__submit button:hover {
  opacity: 0.7;
}

.footer {
  padding: 8rem 2rem 2.9rem;
}
.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title h2 {
  font-size: 2rem;
  font-weight: 500;
}
.footer__nav {
  width: 100%;
  padding-top: 2.8rem;
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem 4rem;
  list-style: none;
  padding: 0;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 2.8rem;
  width: 78.4782608696%;
}
.footer__nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  font-weight: 500;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.footer__nav ul li a:hover {
  opacity: 0.7;
}
.footer__sns {
  width: 100%;
  margin-bottom: 8rem;
}
.footer__sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  list-style: none;
  margin-top: 2.6rem;
}
.footer__sns .sns-icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.footer__sns .sns-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__sns .sns-icon:hover {
  opacity: 0.7;
}
.footer__copyright {
  background: rgb(77, 150, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 9.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* 左右の真ん中 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
}
.footer__copyright .copyright {
  font-size: 2rem;
  opacity: 0.8;
  margin: 0;
  padding-inline: 0;
}
@media (max-width: 767px) {
  .footer {
    padding: 5rem 0 3rem;
  }
  .footer__title h2 {
    font-size: 2rem;
  }
  .footer__nav ul {
    gap: 1.5rem 2rem;
  }
  .footer__nav ul li a {
    font-size: 1.2rem;
  }
  .footer__sns {
    padding-top: 2rem;
  }
  .footer__sns ul {
    gap: 2rem;
  }
}/*# sourceMappingURL=style.css.map */