@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  font-size: 10px;
  color: #000;
}
@media (max-width: 767px) {
  html {
    scroll-padding-top: 5rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Yu Mincho", "YuMincho", "MS PMincho", "Noto Serif JP", serif;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.6rem;
}

a, button {
  -webkit-transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.4s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.4s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transition: opacity 0.4s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
@media (hover: hover) {
  a:hover, button:hover {
    opacity: 0.7;
  }
}

a[href^=tel],
a[href^=mailto] {
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration: none;
}

input,
textarea,
select {
  color: inherit;
  -webkit-text-fill-color: currentColor;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

/* common */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 92rem;
  margin-inline: auto;
}

@media (max-width: 767px) {
  .inner {
    max-width: none;
  }
}
.no-break {
  white-space: nowrap;
}

.js-fade {
  opacity: 0;
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  position: relative;
  z-index: 2;
}
.js-fade.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header {
  width: 100%;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: #FFFFFF;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
@media (max-width: 767px) {
  .header {
    height: 5rem;
  }
}
.header.is-scrolled {
  background: #4D9600;
}
.header .inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: none;
  padding-inline: 7.4074074074vw;
}
@media (max-width: 767px) {
  .header .inner {
    padding-inline: 2rem;
  }
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}
.header__logo a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  .header__logo a:hover {
    opacity: 0.6;
  }
}
@media (max-width: 940px) {
  .header__logo a {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .header__logo a {
    font-size: 2rem;
    height: 5rem;
  }
}
.header__nav.pc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.8703703704vw;
     -moz-column-gap: 2.8703703704vw;
          column-gap: 2.8703703704vw;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.header__nav.pc ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
}
@media (max-width: 940px) {
  .header__nav.pc ul li a {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
  }
}
@media (hover: hover) {
  .header__nav.pc ul li a:hover {
    opacity: 1;
  }
}
.header__nav.pc ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2.45rem;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.header__nav.pc ul li a:hover::after {
  width: 100%;
}

/* ハンバーガーメニュー全体 */
.hamburger {
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    width: 7.2rem;
    height: 5rem;
    background: #fff;
    margin-left: auto;
    z-index: 999;
    border: none;
    right: 0;
  }
  .hamburger span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 3.2rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: #4D9600;
    -webkit-transition: top 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: top 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: top 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
    transition: top 0.4s ease, transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
  }
  .hamburger span:nth-of-type(1) {
    top: 30%;
  }
  .hamburger span:nth-of-type(3) {
    top: 70%;
  }
  .hamburger.is-active span:nth-of-type(1) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .hamburger.is-active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger.is-active span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* ナビゲーション（中身） */
.header-menu {
  display: none;
}
@media (max-width: 767px) {
  .header-menu {
    display: block;
    position: fixed;
    width: 30rem;
    height: 34.8rem;
    top: 5rem;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    background: #4D9600;
    z-index: 200;
  }
  .header-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header-menu ul {
    margin: 0;
    padding: 1.2rem 0 1.3rem 0;
    list-style: none;
  }
  .header-menu ul li {
    font-size: 1.8rem;
    line-height: 1.83;
  }
  .header-menu ul a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
}

/* 黒背景（オーバーレイ） */
.overlay {
  display: none;
}
@media (max-width: 767px) {
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    z-index: 10;
  }
  .overlay.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.fv {
  position: relative;
  width: 100vw;
  aspect-ratio: 1080/800;
  padding: 0;
}
@media (max-width: 767px) {
  .fv {
    aspect-ratio: 375/601;
  }
}
.fv__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 100;
}
.fv__contents {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 51.5%;
  left: 51%;
  -webkit-transform: translate(-51.5%, -51%);
          transform: translate(-51.5%, -51%);
  text-align: center;
  z-index: 200;
}
@media (max-width: 767px) {
  .fv__contents {
    top: 51.3%;
    left: 51.3%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}
.fv__catch h2 {
  font-size: 3.7037037037vw;
  line-height: 1.75;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 0.29em;
  text-shadow: 0.2rem 0.2rem 0.8rem #000000;
}
@media (max-width: 767px) {
  .fv__catch h2 {
    font-size: 8vw;
    line-height: 2;
    text-shadow: 0.1rem 0.1rem 0.6rem #000000;
  }
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.swiper-slide .fv-slide__inner {
  width: 100vw;
  aspect-ratio: 1080/800;
  overflow: hidden;
}
@media (max-width: 767px) {
  .swiper-slide .fv-slide__inner {
    aspect-ratio: 375/601;
  }
}

.fv-slide__image {
  width: 100%;
  height: 100%;
}
.fv-slide__image picture {
  display: block;
  width: 100%;
  height: 100%;
}

.about__contents {
  position: relative;
  width: 100%;
}
.about__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1080/500;
}
@media (max-width: 767px) {
  .about__image {
    aspect-ratio: 375/584;
  }
}
.about__catch {
  position: absolute;
  top: 50.9%;
  left: 36.3%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about__catch.js-fade {
  -webkit-transform: translate(-50%, calc(-50% + 3rem));
          transform: translate(-50%, calc(-50% + 3rem));
}
.about__catch.js-fade.is-visible {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.about__catch {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .about__catch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5.8666666667vw;
    top: 50.4%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.about__catch h2 {
  font-size: 2.7777777778vw;
  margin-left: 3.5185185185vw;
  font-weight: 500;
  letter-spacing: 0.18em;
}
@media (max-width: 767px) {
  .about__catch h2 {
    font-size: 6.4vw;
    letter-spacing: 0.25em;
    margin-left: 0;
  }
}
.about__catch p {
  font-size: 1.6666666667vw;
  line-height: 2.67;
  letter-spacing: 0.39em;
  font-weight: 500;
}
@media (max-width: 767px) {
  .about__catch p {
    font-size: 4.2666666667vw;
    line-height: 1.62;
    letter-spacing: 0.25em;
  }
}

.service {
  position: relative;
  padding: 7.4rem 3rem 4rem;
  background: rgba(77, 150, 0, 0.1);
}
@media (max-width: 767px) {
  .service {
    padding: 4.4rem 3rem 5rem;
  }
}
.service__title {
  text-align: center;
  width: 100%;
  margin-inline: auto;
  text-indent: 0.8em;
}
.service__title h2 {
  font-size: 3rem;
  color: #4D9600;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.service__title p {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-top: 0.2rem;
  text-indent: 0.3em;
}
.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4rem;
  margin-top: 6.9rem;
}
@media (max-width: 767px) {
  .service__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5rem;
    margin-top: 3.9rem;
  }
}
.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding-bottom: 9rem;
}
@media (max-width: 767px) {
  .service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
}
.service .service__image {
  width: 65.2083333333%;
  position: relative;
  z-index: 20;
  height: auto;
  aspect-ratio: 600/300;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .service .service__image {
    width: 100%;
    aspect-ratio: 375/250;
  }
}
.service .service__image h3 {
  font-size: 1.6rem;
  margin-top: 2.1rem;
  color: #000;
  font-weight: 500;
}
@media (max-width: 767px) {
  .service .service__image h3 {
    font-size: 1.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0;
  }
}
.service .service__textarea {
  background-color: #4D9600;
  color: #FFFFFF;
  aspect-ratio: 500/250;
  width: 54.347826087%;
  position: absolute;
  right: 0;
  margin-top: 15.7608695652%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .service .service__textarea {
    position: relative;
    width: 100%;
    aspect-ratio: auto;
    bottom: auto;
    right: auto;
    margin: 0.6rem auto 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
  }
}
.service .service__textarea h4 {
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
  text-align: left;
  padding-right: 6%;
  margin-left: 49.6%;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (max-width: 940px) {
  .service .service__textarea h4 {
    font-size: 2.2rem;
  }
}
@media (max-width: 872px) {
  .service .service__textarea h4 {
    font-size: 1.9rem;
  }
}
@media (max-width: 767px) {
  .service .service__textarea h4 {
    font-size: 2rem;
    margin-top: 0;
    padding-left: 0;
    margin-left: 6.3492063492%;
    margin-bottom: 1.4rem;
  }
}
.service .service__textarea p {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
  text-align: left;
  margin-top: 1.7rem;
  padding-right: 6%;
  margin-left: 49.6%;
}
@media (max-width: 940px) {
  .service .service__textarea p {
    font-size: 1.4rem;
  }
}
@media (max-width: 872px) {
  .service .service__textarea p {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .service .service__textarea p {
    font-size: 1.6rem;
    padding-left: 0;
    padding-right: 25.3968253968%;
    line-height: 1.5625;
    margin-left: 6.3492063492%;
    margin-bottom: 1.2rem;
    margin-top: 0;
  }
}
.service .service__item--reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  .service .service__item--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.service .service__item--reverse .service__image h3 {
  text-align: right;
}
@media (max-width: 767px) {
  .service .service__item--reverse .service__image h3 {
    text-align: left;
  }
}
.service .service__item--reverse .service__textarea {
  right: auto;
  left: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767px) {
  .service .service__item--reverse .service__textarea {
    left: auto;
  }
}
.service .service__item--reverse .service__textarea h4 {
  padding-left: 8%;
  padding-right: 0;
  margin-left: 0;
}
@media (max-width: 767px) {
  .service .service__item--reverse .service__textarea h4 {
    padding-left: 6.3768115942%;
    margin-top: -0.2rem;
  }
}
.service .service__item--reverse .service__textarea p {
  padding-left: 8%;
  padding-right: 0;
  margin-left: 0;
}
@media (max-width: 767px) {
  .service .service__item--reverse .service__textarea p {
    padding-left: 6.3768115942%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .service .service__item:nth-child(3) .service__textarea {
    padding-top: 1.8rem;
  }
}
.service .service__item:nth-child(3) .service__textarea h4 {
  padding-right: 0;
  margin-top: 1rem;
  margin-left: 47.6%;
}
@media (max-width: 767px) {
  .service .service__item:nth-child(3) .service__textarea h4 {
    padding-right: 0;
    margin-top: 0;
    margin-left: 6.3492063492%;
  }
}
.service .service__item:nth-child(3) .service__textarea p {
  padding-left: 0;
  padding-right: 0;
  margin-left: 47.6%;
  margin-top: 1.8rem;
}
@media (max-width: 767px) {
  .service .service__item:nth-child(3) .service__textarea p {
    padding-left: 0;
    margin-top: 0;
    margin-left: 6.3492063492%;
  }
}

.works {
  padding: 7.4rem 3rem 9.5rem;
}
@media (max-width: 767px) {
  .works {
    padding: 4.3rem 3rem 4.1rem;
  }
}
.works__title {
  text-align: center;
  width: 100%;
  margin-inline: auto;
  text-indent: 0.8em;
}
.works__title h2 {
  font-size: 3rem;
  color: #4D9600;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.works__title p {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-top: 0.2rem;
  text-indent: 0.3em;
}
.works__contents {
  margin-top: 7rem;
}
@media (max-width: 767px) {
  .works__contents {
    margin-top: 4rem;
  }
}
.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 4.347826087%;
}
@media (max-width: 767px) {
  .works__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 2.2rem;
  }
}
.works__item {
  width: 21.7391304348%;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
@media (hover: hover) {
  .works__item:hover {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .works__item {
    width: 100%;
  }
}
.works__item .works__image {
  width: 100%;
  aspect-ratio: 200/200;
}
@media (max-width: 767px) {
  .works__item .works__image {
    width: 100%;
    aspect-ratio: 315/250;
  }
}
.works__item .works__textarea {
  text-align: left;
}
.works__item .works__textarea h3 {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 500;
  margin-top: 1.9rem;
}
@media (max-width: 767px) {
  .works__item .works__textarea h3 {
    margin-top: 0.9rem;
    margin-bottom: 0;
  }
}

.news {
  padding: 7.4rem 3rem 8.1rem;
  background: rgba(77, 150, 0, 0.1);
}
@media (max-width: 767px) {
  .news {
    padding: 4.4rem 3rem 5rem;
  }
}
.news__title {
  text-align: center;
  width: 100%;
  margin-inline: auto;
  text-indent: 0.8em;
}
.news__title h2 {
  font-size: 3rem;
  color: #4D9600;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.news__title p {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-top: 0.2rem;
  text-indent: 0.3em;
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 6.5217391304%;
     -moz-column-gap: 6.5217391304%;
          column-gap: 6.5217391304%;
  margin-top: 7rem;
}
@media (max-width: 767px) {
  .news__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5rem;
    margin-top: 3.9rem;
  }
}
.news__item {
  width: 46.7391304348%;
  background: #FFFFFF;
  padding-bottom: 2.8rem;
}
@media (max-width: 767px) {
  .news__item:nth-of-type(1) .news__article-wrapper:nth-of-type(4) .news__text p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .news__item {
    width: 100%;
    padding-bottom: 2.7rem;
  }
}
.news__item .news__catch {
  background: #4D9600;
  height: 4.6296296296vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.5555555556%;
  padding-left: 4.6875%;
}
@media (max-width: 767px) {
  .news__item .news__catch {
    height: auto;
    padding: 1rem 0 1rem 6.5%;
    margin-bottom: 1rem;
  }
}
.news__item .news__catch h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
}
.news__article-wrapper {
  border-bottom: 1px solid #4D9600;
  margin-bottom: -0.9rem;
  margin-left: 4.6875%;
  margin-right: 4.6875%;
}
@media (max-width: 767px) {
  .news__article-wrapper {
    margin-bottom: -0.1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.news__article-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding-bottom: 1.2rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.news__article-wrapper:first-of-type .news__article-link {
  padding-top: 2.7rem;
}
@media (max-width: 767px) {
  .news__article-wrapper:first-of-type .news__article-link {
    padding-top: 1.9rem;
  }
}
@media (hover: hover) {
  .news__article-link:hover {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .news__article-link {
    padding-top: 0.9rem;
    padding-bottom: 1.3rem;
  }
}
.news__date {
  font-size: 1.6rem;
  margin-top: 7.0833333333%;
  font-weight: 500;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .news__date {
    width: auto;
    margin-top: 2.8985507246%;
    padding-left: 1.4492753623%;
    white-space: nowrap;
  }
}
.news__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.news__text p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 8.75%;
  margin-left: 20.8333333333%;
  line-height: 1.39;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 767px) {
  .news__text p {
    margin-top: 4.6376811594%;
    margin-right: 2.6086956522%;
    margin-left: 8.6956521739%;
  }
}
.news__more {
  text-align: right;
  margin-top: 3.1rem;
}
@media (max-width: 767px) {
  .news__more {
    margin-top: 2.4rem;
    margin-right: 5.4rem;
  }
}
.news__more a {
  font-family: "Yu Mincho", serif;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 600;
  color: #4D9600;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-right: 12.8260869565%;
  cursor: pointer;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, -webkit-transform 0.3s;
  transition: opacity 0.4s, transform 0.3s;
  transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 767px) {
  .news__more a {
    font-size: 1.75rem;
    margin-right: 0;
  }
}
@media (hover: hover) {
  .news__more a:hover {
    opacity: 0.7;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
}
.news__more a::after {
  content: "";
  position: absolute;
  top: 0%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  bottom: 0.8rem;
  width: 8.3rem;
  height: 3rem;
  background: url("../images/more.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}
@media (max-width: 767px) {
  .news__more a::after {
    top: -52%;
    -webkit-transform: translateX(-4.8rem);
            transform: translateX(-4.8rem);
    bottom: auto;
    width: 8.5rem;
    height: 4rem;
  }
}

.company {
  padding: 7.3rem 3rem 13.5rem;
}
@media (max-width: 767px) {
  .company {
    padding: 4.5rem 3rem 5rem;
  }
}
.company__title {
  text-align: center;
  width: 100%;
  margin-inline: auto;
  text-indent: 0.8em;
}
.company__title h2 {
  font-size: 3rem;
  color: #4D9600;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.company__title p {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-top: 0.2rem;
  text-indent: 0.3em;
}
.company-item {
  position: relative;
}
@media (max-width: 767px) {
  .company-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.company-item__map {
  position: relative;
  aspect-ratio: 600/400;
  width: 65.2173913043%;
  z-index: 100;
  margin-top: 7rem;
}
@media (max-width: 767px) {
  .company-item__map {
    width: 100%;
    margin-top: 4rem;
    aspect-ratio: 315/300;
  }
}
.company-item__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.company-item__info {
  background: #4D9600;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 54.347826087%;
  aspect-ratio: 500/262;
  position: absolute;
  right: 0;
  bottom: -5.5rem;
  z-index: 20;
  padding-left: 23.9130434783%;
  padding-top: 4.7rem;
  padding-bottom: 4.1rem;
  padding-right: 2rem;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767px) {
  .company-item__info {
    position: relative;
    width: 100%;
    aspect-ratio: auto;
    bottom: 0;
    margin-top: 1.9rem;
    padding: 2rem 2rem 1.4rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.company-item__info a,
.company-item__info a:link,
.company-item__info a:visited,
.company-item__info a:hover,
.company-item__info a:active {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-text-decoration: none;
}
.company-item__info a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  .company-item__info a:hover {
    opacity: 0.7;
  }
}
.company-item__name p {
  font-size: 2rem;
  margin: 0;
}
.company-item__address p {
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 0.9rem;
}
.company-item__tel {
  margin-top: 0.6rem;
}
.company-item__tel a {
  font-size: 2.5rem;
  font-weight: 600;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
@media (max-width: 767px) {
  .company-item__tel a {
    pointer-events: auto;
    cursor: pointer;
  }
}
.company-item__tel span {
  font-size: 1.6rem;
}
.company-item__mail {
  margin-top: 1.2rem;
  font-size: 1.6rem;
}
.company-item__mail a {
  display: inline-block;
  text-decoration: none;
}

.contact {
  padding: 7.4rem 3rem 8rem;
  background: rgba(77, 150, 0, 0.1);
}
@media (max-width: 767px) {
  .contact {
    padding: 4.3rem 3rem 5rem;
  }
}
.contact__title {
  text-align: center;
  width: 100%;
  margin-inline: auto;
  text-indent: 0.8em;
}
.contact__title h2 {
  font-size: 3rem;
  color: #4D9600;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}
.contact__title p {
  font-size: 2rem;
  letter-spacing: 0.3em;
  margin-top: 0.2rem;
  text-indent: 0.3em;
}
.contact__title p {
  letter-spacing: 0.24em;
}
@media (max-width: 767px) {
  .contact__title p {
    text-indent: 0.5em;
    letter-spacing: 0.24em;
  }
}
.contact__contents {
  width: 100%;
  max-width: 80rem;
  margin: 3.6rem auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 767px) {
  .contact__contents {
    width: 100%;
    margin-top: 3.7rem;
  }
}
.contact__text {
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}
@media (max-width: 767px) {
  .contact__text {
    margin: 0;
  }
}
.contact form {
  margin-top: 6.9rem;
}
@media (max-width: 767px) {
  .contact form {
    margin-top: 4.2rem;
  }
}
.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
}
@media (max-width: 767px) {
  .contact__items {
    row-gap: 2rem;
  }
}
.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
@media (max-width: 767px) {
  .contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .contact__item:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7.2463768116%;
  }
}
.contact__item:has(.contact__input--checkbox), .contact__item:has(.contact__policy), .contact__item:has(textarea) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact__item:has(.contact__input--checkbox) .contact__label,
.contact__item:has(.contact__input--checkbox) .contact__input,
.contact__item:has(.contact__input--checkbox) .contact__policy, .contact__item:has(.contact__policy) .contact__label,
.contact__item:has(.contact__policy) .contact__input,
.contact__item:has(.contact__policy) .contact__policy, .contact__item:has(textarea) .contact__label,
.contact__item:has(textarea) .contact__input,
.contact__item:has(textarea) .contact__policy {
  width: 100%;
}
.contact__item:has(.contact__input--checkbox) .contact__label, .contact__item:has(.contact__policy) .contact__label, .contact__item:has(textarea) .contact__label {
  margin-top: 0;
}
.contact__label {
  font-size: 2rem;
  line-height: 1.35;
  font-weight: 500;
  margin-top: 1.3rem;
}
@media (max-width: 767px) {
  .contact__label {
    margin: 0;
  }
}
.contact__label p {
  margin: 0;
}
.contact__label label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .contact__label label {
    display: block;
    text-align: left;
  }
}
.contact__item:nth-child(2) {
  margin-top: 1.2rem;
}
.contact__item:nth-child(3) {
  margin-top: 2.2rem;
  letter-spacing: -0.04em;
}
@media (max-width: 767px) {
  .contact__item:nth-child(3) {
    margin-top: 1.5rem;
    letter-spacing: 0;
  }
}
.contact__item:nth-child(4) {
  margin-top: 1.9rem;
}
@media (max-width: 767px) {
  .contact__item:nth-child(4) {
    margin-top: 1.3rem;
  }
}
.contact__item:nth-child(5) {
  margin-top: 2.2rem;
}
@media (max-width: 767px) {
  .contact__item:nth-child(5) {
    margin-top: 1.4rem;
  }
}
.contact__item:nth-child(6) {
  margin-top: 2.6rem;
}
@media (max-width: 767px) {
  .contact__item:nth-child(6) {
    margin-top: 0.9rem;
  }
}
@media (max-width: 767px) {
  .contact__item:nth-child(7) {
    margin-top: -1rem;
  }
}
.contact__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 767px) {
  .contact__input {
    width: 100%;
  }
}
.contact__item:nth-child(1) .contact__input {
  margin-left: 11.9565217391%;
}
@media (max-width: 767px) {
  .contact__item:nth-child(1) .contact__input {
    margin-left: 0;
    margin-top: 0.4rem;
  }
}
.contact__item:nth-child(2) .contact__input {
  margin-left: 16.6304347826%;
}
@media (max-width: 767px) {
  .contact__item:nth-child(2) .contact__input {
    margin-left: 8.6956521739%;
    margin-top: 0.1rem;
  }
}
.contact__item:nth-child(3) .contact__input {
  margin-left: 2.5%;
}
@media (max-width: 767px) {
  .contact__item:nth-child(3) .contact__input {
    margin-left: 0;
    margin-top: 0.4rem;
  }
}
.contact__item:nth-child(4) .contact__input {
  margin-left: 3.5869565217%;
}
@media (max-width: 767px) {
  .contact__item:nth-child(4) .contact__input {
    margin-left: 0;
    margin-top: 0;
  }
}
.contact__input input[type=text],
.contact__input input[type=email],
.contact__input select,
.contact__input textarea {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  outline: none;
  border: none;
}
.contact__input input[type=text]::-webkit-input-placeholder, .contact__input input[type=email]::-webkit-input-placeholder, .contact__input select::-webkit-input-placeholder, .contact__input textarea::-webkit-input-placeholder {
  color: #A0A0A0;
}
.contact__input input[type=text]::-moz-placeholder, .contact__input input[type=email]::-moz-placeholder, .contact__input select::-moz-placeholder, .contact__input textarea::-moz-placeholder {
  color: #A0A0A0;
}
.contact__input input[type=text]:-ms-input-placeholder, .contact__input input[type=email]:-ms-input-placeholder, .contact__input select:-ms-input-placeholder, .contact__input textarea:-ms-input-placeholder {
  color: #A0A0A0;
}
.contact__input input[type=text]::-ms-input-placeholder, .contact__input input[type=email]::-ms-input-placeholder, .contact__input select::-ms-input-placeholder, .contact__input textarea::-ms-input-placeholder {
  color: #A0A0A0;
}
.contact__input input[type=text]::placeholder,
.contact__input input[type=email]::placeholder,
.contact__input select::placeholder,
.contact__input textarea::placeholder {
  color: #A0A0A0;
}
@media (max-width: 767px) {
  .contact__input input[type=text],
  .contact__input input[type=email],
  .contact__input select,
  .contact__input textarea {
    font-size: 1.6rem;
    line-height: 1.2;
    padding: 1.5rem 2rem;
  }
}
.contact__input select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M0 0l5 6 5-6z" fill="%234d9600"/></svg>');
  background-repeat: no-repeat;
  background-position: right 2.1rem center;
  background-size: 1.9rem auto;
  padding: 1.2rem 2.1rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact__input select {
    margin-top: 0.3rem;
    padding: 1.7rem 2rem 1.5rem;
  }
}
.contact__input textarea {
  resize: none;
  height: 20rem;
  line-height: 1.5;
  margin-top: 1.2rem;
  margin-bottom: 0;
  vertical-align: bottom;
  word-break: break-word;
}
@media (max-width: 767px) {
  .contact__input textarea {
    margin-top: 0.2rem;
    height: 20rem;
  }
}
.contact__input--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12.1739130435%;
  padding-top: 1.3rem;
}
@media (max-width: 767px) {
  .contact__input--radio {
    gap: 17.1014492754%;
    padding: 0;
    margin: 0;
  }
}
.contact__input--radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
}
.contact__input--radio label input[type=radio] {
  margin-right: 1.8rem;
  width: 2rem;
  height: 2rem;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .contact__input--radio label input[type=radio] {
    margin-right: 1rem;
  }
}
.contact__input--radio label input[type=radio]:checked {
  background: #FFFFFF;
}
.contact__input--radio label input[type=radio]:checked::after {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background: #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact__input--checkbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1.2rem;
  margin-top: 1.1rem;
}
@media (max-width: 767px) {
  .contact__input--checkbox {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0.2rem;
    row-gap: 0.6rem;
  }
}
.contact__input--checkbox label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2rem;
}
@media (max-width: 767px) {
  .contact__input--checkbox label {
    font-size: 1.6rem;
    gap: 1rem;
  }
}
.contact__input--checkbox label input[type=checkbox] {
  width: 2rem;
  height: 2rem;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: #fff;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.contact__input--checkbox label input[type=checkbox]:checked {
  background: #FFFFFF;
  border-color: #333;
}
.contact__input--checkbox label input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 0.7rem;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%) rotate(-45deg);
          transform: translate(-50%, -65%) rotate(-45deg);
}
.contact__policy {
  margin-top: 2rem;
  width: 100%;
}
.contact__policy-title {
  font-size: 2rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .contact__policy-title {
    margin-top: 0.1rem;
  }
}
.contact__policy-box {
  width: 100%;
  background: #FFFFFF;
  padding: 4rem 5rem 4rem 4rem;
  margin-top: 1.5rem;
  overflow-y: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 30rem;
  border: none;
}
@media (max-width: 767px) {
  .contact__policy-box {
    padding: 3.1rem 4rem 3.1rem 3rem;
    height: 32.3rem;
    margin-top: 0.1rem;
  }
}
.contact__policy-box::-webkit-scrollbar {
  width: 2rem;
}
.contact__policy-box::-webkit-scrollbar-track {
  background: #E3E3E3;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
  border-right: 1rem solid #FFFFFF;
}
.contact__policy-box::-webkit-scrollbar-thumb {
  background: #9B9B9B;
  border-right: 1rem solid #FFFFFF;
  min-height: 3rem;
}
.contact__policy-box p {
  font-size: 1.8rem;
  line-height: 1.72;
  font-weight: 500;
  margin-bottom: 3rem;
}
.contact__policy-box p:has(+ .policy-list) {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .contact__policy-box p {
    font-size: 1.6rem;
    line-height: 2.0625;
    margin-bottom: 3.3rem;
  }
}
.contact__policy-box .policy-list {
  margin-bottom: 2.5rem;
  padding-left: 1.5em;
  list-style: disc;
}
.contact__policy-box .policy-list li {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .contact__policy-box .policy-list li {
    font-size: 1.6rem;
  }
}
.contact__policy-box > *:last-child {
  margin-bottom: 0;
}
.contact__submit {
  text-align: center;
  margin-top: 5.1rem;
}
@media (max-width: 767px) {
  .contact__submit {
    margin-top: 3.4rem;
  }
}
.contact__submit button {
  background: #4D9600;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Yu Mincho", "YuMincho", "MS PMincho", "Noto Serif JP", serif;
  width: 30rem;
  height: 5rem;
  margin-top: -0.4rem;
  border: 2px solid #4D9600;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease, color 0.4s ease, opacity 0.4s ease;
  transition: background-color 0.4s ease, color 0.4s ease, opacity 0.4s ease;
}
@media (hover: hover) {
  .contact__submit button:hover {
    background-color: #FFFFFF;
    color: #4D9600;
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .contact__submit button {
    width: 100%;
  }
}

.footer {
  padding: 8rem 0 0;
  background: #fff;
}
@media (max-width: 767px) {
  .footer {
    padding: 5.2rem 0 0;
  }
}
.footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title p {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}
.footer__title p a {
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
@media (hover: hover) {
  .footer__title p a:hover {
    opacity: 0.7;
  }
}
.footer__nav {
  width: 100%;
  padding-top: 3rem;
}
@media (max-width: 767px) {
  .footer__nav {
    padding-top: 2rem;
  }
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 7.1195652174%;
     -moz-column-gap: 7.1195652174%;
          column-gap: 7.1195652174%;
  list-style: none;
  padding: 0;
  border-top: 1px solid #000;
  padding-top: 2.8rem;
  width: 78.4782608696%;
}
@media (max-width: 767px) {
  .footer__nav ul {
    width: 84.347826087%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.5rem 2rem;
    -webkit-column-gap: 9.8550724638%;
       -moz-column-gap: 9.8550724638%;
            column-gap: 9.8550724638%;
    padding-top: 2rem;
  }
}
.footer__nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.83;
  font-weight: 500;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
@media (max-width: 960px) {
  .footer__nav ul li a {
    font-size: 1.4rem;
  }
}
@media (max-width: 767px) {
  .footer__nav ul li a {
    font-size: 1.8rem;
  }
}
@media (hover: hover) {
  .footer__nav ul li a:hover {
    opacity: 0.5;
  }
}
.footer__sns {
  width: 100%;
}
.footer__sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: min(3rem, 3.152173913%);
  list-style: none;
  margin-top: 2.8rem;
  padding: 0;
}
@media (max-width: 767px) {
  .footer__sns ul {
    margin-top: 2.8rem;
    gap: 9.2753623188%;
    gap: min(3rem, 9.2753623188%);
  }
}
.footer__sns ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
.footer__sns .sns-icon {
  display: block;
  width: 2.9rem;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (max-width: 767px) {
  .footer__sns .sns-icon {
    width: 2.8rem;
  }
}
@media (hover: hover) {
  .footer__sns .sns-icon:hover {
    opacity: 0.7;
  }
}
.footer__copyright {
  background: #4D9600;
  color: #FFFFFF;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 8rem;
  aspect-ratio: 11.7391304348;
}
@media (max-width: 767px) {
  .footer__copyright {
    margin-top: 5rem;
    padding: 2.2rem 0;
    text-align: center;
  }
}
.footer__copyright .copyright {
  font-size: 2rem;
  line-height: 1.65;
  margin: 0;
}
@media (max-width: 767px) {
  .footer__copyright .copyright {
    line-height: 1.25;
    margin: 0;
  }
}

.js-modal-target {
  cursor: pointer;
}

.pagetop {
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background: #4D9600;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  z-index: 100;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
.pagetop.is-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media (hover: hover) {
  .pagetop:hover {
    opacity: 0.7;
  }
}

/* モーダル本体 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
.modal__close span {
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 0;
}
.modal__close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal__close span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal__content {
  position: relative;
  z-index: 1;
  width: 240%;
  max-width: 45rem;
  background: #fff;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.modal__title {
  color: #000;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 1rem 0 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */