// 変数とミックスインはファイルの最上部にまとめる
$main-color: rgba(77, 150, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$background: rgba(77, 150, 0, 0.1);

@mixin sp {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin title {
    text-align: center;
    h2 {
        font-size: 3rem;
        color: $main-color;
    }
    p {
        font-size: 2rem;
        margin-top: 0.6rem;
    }
}

// base
html {
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 8.0rem;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Yu Mincho", "YuMincho", "MS PMincho", serif;
    letter-spacing: 0;
}

/* common */
@media (max-width: 767px) {
    .pc {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .sp {
        display: none !important;
    }
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.inner {
    padding-inline: 8rem;
}
@media (max-width: 767px) {
    .inner {
        padding-inline: 3rem;
    }
}

// header
.header {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.15);
    color: $color-white;
    .inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo a {
        font-size: 2rem;
        height: 8rem;
        display: flex;
        align-items: center;
        transition: opacity 0.4s;
        text-decoration: none;
        color: inherit;
        &:hover {
            opacity: 0.7;
        }
    }
    &__nav ul {
        display: flex;
        align-items: center;
        column-gap: 3.1rem;
        list-style: none;
        li a {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            transition: opacity 0.4s;
            text-decoration: none;
            color: inherit;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

// fv
.fv {
    position: relative;
    aspect-ratio: 1080 / 800;
    padding: 0;
    background: rgba(0, 0, 0, 0.15);
    &__contents {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__catch h2 {
        font-size: 4rem;
        line-height: calc(70 / 40);
        color: $color-white;
        font-weight: 600;
    }
}

// about
.about {
    &__contents {
        position: relative;
        width: 100%;
    }
    &__image {
        img {
            width: 100%;
            min-height: 600px; 
            object-fit: cover;
        }
    }
    &__catch {
        position: absolute;
        top: 50%;
        left: calc(438 / 1080 * 100%);
        transform: translate(-50%, -50%);
        writing-mode: vertical-rl;
        h2 {
            font-size: 3rem;
            line-height: 118%;
            margin-left: calc(60 / 1080 * 100vw);
            font-weight: 500;
        }
        p {
            font-size: 1.8rem;
            line-height: 137%;
            letter-spacing: 0.2em;
            font-weight: 500;
        }
    }
}

// service
.service {
    position: relative;
    padding: 8rem 0;
    background: $background;

    &__title {
        @include title;
        margin-top: 0.8rem;
        margin-bottom: 6.8rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 12rem;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        position: relative;

        .service__image {
            width: calc(600 / 960 * 100%);
            position: relative;
            z-index: 20;
            
            img {
                height: auto;
                aspect-ratio: 600 / 300;
                object-fit: cover;
            }
            
            h3 {
                font-size: 1.6rem;
                margin-top: 1.9rem;
                color: rgba(0, 0, 0, 0.8);
                font-weight: 500;
            }
        }

        .service__textarea {
            background-color: $main-color;
            color: $color-white;
            aspect-ratio: 500 / 250;
            width: calc(500 / 960 * 100%);
            position: absolute;
            right: 0;
            bottom: -3rem;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            h4 {
                font-size: 2.5rem;
                line-height: calc(33 / 25);
                font-weight: 600;
                text-align: left;
                margin-bottom: 1.5rem;
                padding-left: calc(248 / 500 * 100%);
            }

            p {
                font-size: 1.6rem;
                line-height: calc(25 / 16);
                font-weight: 600;
                text-align: left;
                padding-left: calc(248 / 500 * 100%);
            }
        }

        &--reverse {
            justify-content: flex-end;

            .service__image {
                h3 {
                    text-align: right;
                }
            }

            .service__textarea {
                right: auto;
                left: 0;
                align-items: flex-start;
                h4 {
                    padding-left: calc(40 / 500 * 100%);
                }
                p {
                    padding-left: calc(40 / 500 * 100%);
                }
            }
        }
    }
}

// works
.works {
    padding: 8rem 0 9.7rem;
    &__title {
        @include title;
    }
    &__contents {
        margin-top: 6.8rem;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        column-gap: calc(40 / 960 * 100vw);
        
        .works__image img {
            width: calc(200 / 960 * 100vw);
            aspect-ratio: 200 / 200;
        }
        .works__textarea {
            text-align: center;
            h3 {
                font-size: 1.6rem;
                line-height: calc(25 / 16);
                font-weight: 500;
                margin-top: 1.5rem;
            }
        }
    }
}

// news
.news {
    padding: 8rem 0;
    background: $background;
    &__title {
        @include title;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        column-gap: calc(60 / 920 * 100vw);
    }
    &__item {
        margin-top: 6.8rem;
        width: calc(430 / 920 * 100vw);
        background: $color-white;
        
        .news__catch {
            background: $main-color;
            width: 100%;
            height: calc(50 / 1080 * 100vw);
            display: flex;
            align-items: center;
            gap: calc(60 / 1080 * 100vw);
            
            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: $color-white;
                margin-left: calc(20 / 1080 * 100%);
            }
        }
    }
    
    &__article-link {
        display: flex;
        padding: 1.5rem 0;
        border-bottom: 1px solid $main-color;
        text-decoration: none;
        color: inherit;
        transition: opacity 0.3s;
        padding-bottom: calc(13 / 1080 * 100%);
        
        &:hover {
            opacity: 0.7;
        }
    }
    
    &__date {
        margin-right: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        width: calc(53 / 1080 * 100vw);
        margin-top: calc(23 / 1080 * 100%);
        margin-left: calc(21 / 1080 * 100%);
    }
    
    &__text {
        font-size: 1.8rem;
        line-height: calc(25 / 18);
        font-weight: 500;
        flex: 1;
        margin-top: calc(30 / 1080 * 100%);
        margin-left: calc(69 / 1080 * 100%);
    }
    
    &__more {
        text-align: right;
        margin-top: 1.5rem;
        a {
            font-family: "Yu Mincho", serif;
            font-size: 1.4rem;
            line-height: calc(33 / 14);
            font-weight: 500;
            color: $main-color;
            text-decoration: none;
            display: inline-block;
            position: relative;
            padding-right: 40px;
            cursor: pointer;
            transition: opacity 0.3s;
            
            &:hover {
                opacity: 0.7;
            }
            &::after {
                content: '';
                position: absolute;
                top: calc(11 / 920 * 100vw);
                right: calc(25 / 920 * 100vw);
                bottom: 8px;
                width: 35px;
                height: 15px;
                background: url('../images/more.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right bottom;
            }
        }
    }
}