$main-color: rgba(77, 150, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$background: rgba(77, 150, 0, 0.1);

@mixin sp {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin title {
    text-align: center;
    width: 100%;
    margin-inline: auto;
    text-indent: 0.8em;
    h2 {
        font-size: 3rem;
        color: $main-color;
        font-weight: 500;
        letter-spacing: 0.3em;
        text-indent: 0.3em;
    }
    p {
        font-size: 2rem;
        letter-spacing: 0.3em;
        margin-top: -2.4rem;
        text-indent: 0.3em;
    }
}

// base
html {
    -webkit-text-size-adjust: 100%;
    word-break: break-all;
    scroll-behavior: smooth;
    scroll-padding-top: 8.0rem;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Yu Mincho", "YuMincho", "MS PMincho", serif;
    letter-spacing: 0;
}
a, button {
    transition: opacity 0.4s ease, transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* common */
@media (max-width: 767px) {
    .pc {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .sp {
        display: none !important;
    }
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.inner {
    padding-inline: 3rem;
    max-width: 920px;
    margin-inline: auto;
}
@media (max-width: 767px) {
    .inner {
        max-width: none;
        padding-inline: 3rem;
    }
}
/* --- フェードインアニメーション --- */
.js-fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.0s ease, transform 1.0s ease;
    
    &.is-visible {
        opacity: 1;
        transform: translateY(0);
    }
}

// header
.header {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.15);
    color: $color-white;
    transition: background-color 0.4s ease;

    @include sp {
        height: 5rem;
    }

    .inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sp {
            padding-inline: 2rem;
        }
    }

    &__logo a {
        font-size: 2rem;
        font-weight: 500;
        text-decoration: none;
        color: inherit;
        display: block;
        @media (max-width:910px) {
            font-size: 1.8rem;
        }
        @include sp {
            font-size: 2rem;
        }
    }

    &__nav.pc ul {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        list-style: none;
        margin-left: 0;

        li a {
            font-size: 1.6rem;
            text-decoration: none;
            color: inherit;
            position: relative;
            padding-bottom: 0.5rem;
            letter-spacing: 0.1em;
            @media (max-width:910px) {
            font-size: 1.2rem;
            letter-spacing: 0.05em;
        }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: #fff;
                transition: width 0.4s ease;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}

/* ハンバーガーメニュー全体 */
.hamburger {
    display: none; 

    @include sp {
        display: block; 
        position: absolute;
        width: 77px;
        height: 50px;
        background: #fff;
        margin-left: auto;
        z-index: 999;
        border: none;
        right: 0;

        span {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 4px;
            border-radius: 5px;
            background: $main-color;
            transition: .4s;

            &:nth-of-type(1) {
                top: 30%;
            }
            &:nth-of-type(3) {
                top: 70%;
            }
        }

        &.is-active {
            span {
                &:nth-of-type(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}

/* ナビゲーション（中身） */
.header-menu {
    display: none;

    @include sp {
        display: block;
        position: fixed;
        width: 30rem;
        height: 34.8rem;
        top: 5rem;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
        transition: transform .4s;
        background: $main-color;
        z-index: 200;

        &.is-open {
            transform: translateX(0);
        }

        ul {
            margin: 0;
            padding: 3rem 0 3rem 2rem;
            text-align: left;
            list-style: none;
            font-size: 1.8rem;
            color: $color-white;

            li {
                &:not(:last-of-type) {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

/* 黒背景（オーバーレイ） */
.overlay {
    display: none; 

    @include sp {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
        z-index: 10;

        &.is-open {
            opacity: 1;
            visibility: visible;
        }
    }
}

// fv
.fv {
    position: relative;
    aspect-ratio: 1080 / 800;
    width: 100vw;
    padding: 0;
    background: rgba(0, 0, 0, 0.15);
    &__contents {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 51.5%;
        left: 51%;
        transform: translate(-51.5%, -51%);
        text-align: center;
        z-index: 200;
        @include sp {
            top: 51.3%;
            left: 51.3%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }
    &__catch h2 {
        font-size: calc(40 / 1080 * 100vw);
        line-height: calc(70 / 40);
        color: $color-white;
        font-weight: 600;
        letter-spacing: 0.29em;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
        @include sp {
            font-size: calc(30 / 375 * 100vw);
            line-height: calc(60 / 30);
            text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
        }
    }
}
.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-slide .fv-slide__inner {
    width: 100vw;
    aspect-ratio: 1080 / 800;
    margin: 0 auto;
    background-color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color:#fff;
    line-height: 1;
    letter-spacing: 0.05em;
}

// about
.about {
    &__contents {
        position: relative;
        width: 100%;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1080 / 500;

        @include sp {
            aspect-ratio: 375 / 584;
        }
    }

    &__catch {
        position: absolute;      
        top: 50.9%;
        left: 36.6%;
        transform: translate(-50%, -50%);
        writing-mode: vertical-rl;
        white-space: nowrap;

        @include sp {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: calc(22 / 375 * 100vw);
            top: 50.4%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            font-size: calc(30 / 1080 * 100vw);
            margin-left: calc(38 / 1080 * 100vw);
            font-weight: 500;
            letter-spacing: 0.18em;
            
            @include sp {
                font-size: calc(24 / 375 * 100vw);
                letter-spacing: 0.25em;
                margin-left: calc(18 / 375 * 100vw);
            }
        }

        p {
            font-size: calc(18 / 1080 * 100vw);
            line-height: 267%;
            letter-spacing: 0.39em;
            font-weight: 500;

            @include sp {
                font-size: calc(16 / 375 * 100vw);
                line-height: 162%;
                letter-spacing: 0.25em;
            }
        }
    }
}

// service
.service {
    position: relative;
    padding: 4.9rem 0 11.5rem;
    background: $background;
    @include sp {
        padding: 2rem 0 0.1rem;
    }

    &__title {
        @include title;
        margin-bottom: 7rem;
        @include sp {
            margin-bottom: 3.9rem;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 11.4rem;
        @include sp {
            display: block;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        position: relative;
        cursor: pointer;
        transition: opacity 0.4s ease;
        @media (hover: hover) {
            &:hover {
                opacity: 0.7;
            }
        }
        @include sp {
            flex-direction: column;
            margin-bottom: 5rem;
        }

        &:nth-child(3) {
            .service__textarea h4 {
                padding-right: calc(87 / 500 * 100%);
                margin-top: 2.5rem;
                @include sp {
                    padding-right: 0;
                    margin-top: 0;
                    padding-top: 0.4rem;
                }
            }
            .service__textarea p {
                padding-left: calc(208 / 500 * 100%);
                padding-right: calc(38 / 500 * 100%);
                @include sp {
                    padding-left: calc(5 / 345 * 100%);
                    padding-right: calc(38 / 500 * 100%);
                    margin-top: 1.2rem;
                }
            }
        }

        .service__image {
            width: calc(626 / 960 * 100%);
            position: relative;
            z-index: 20;
            height: auto;
            aspect-ratio: 600 / 300;
            object-fit: cover;
            @include sp {
                width: 100%;
                aspect-ratio: 375 / 250;
            }
            
            h3 {
                font-size: 1.6rem;
                margin-top: 2.1rem;
                color: rgba(0, 0, 0, 0.8);
                font-weight: 500;
                @include sp {
                    font-size: 1.6rem;
                    margin-top: 0.6rem;
                    margin-bottom: 0;
                }
            }
        }
        .service__textarea {
            background-color: $main-color;
            color: $color-white;
            aspect-ratio: 500 / 250;
            width: calc(500 / 920 * 100%);
            position: absolute;
            right: 0;
            bottom: calc(-90 / 920 * 100%);
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 

            @include sp {
                position: relative;
                width: 100%;
                aspect-ratio: auto;
                bottom: auto;
                right: auto;
                margin: 0.6rem auto 0;
                align-items: flex-start;
            }

            h4 {
                font-size: 2.5rem;
                line-height: calc(33 / 25);
                font-weight: 600;
                text-align: left;
                padding-right: calc(30 / 500 * 100%);
                margin-left: calc(248 / 500 * 100%);
                margin-top: 2.3rem;
                margin-bottom: 0;

                @include sp {
                    font-size: 2rem;
                    margin-top: 0;
                    padding-left: 0; 
                    margin-left: calc(20 / 315 * 100%);
                    padding-top: 2rem;
                }
            }

            p {
                font-size: 1.6rem;
                line-height: calc(25 / 16);
                font-weight: 600;
                text-align: left;
                margin-top: 1.5rem;
                padding-right: calc(30 / 500 * 100%); 
                margin-left: calc(248 / 500 * 100%);

                @include sp {
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 1.3rem;
                    margin-left: calc(20 / 315 * 100%);
                    margin-bottom: 1.2rem;
                }
            }
        }

        &--reverse {
            justify-content: flex-end;
            @include sp {
                flex-direction: column;
                justify-content: flex-start;
            }

            .service__image h3 {
                text-align: right;
                @include sp {
                    text-align: left;
                }
            }

            .service__textarea {
                right: auto;
                left: 0;
                align-items: flex-start;
                @include sp {
                    left: auto;
                }
                h4 {
                    padding-left: calc(40 / 500 * 100%);
                    padding-right: 0;
                    margin-left: 0;
                    @include sp {
                        padding-left: calc(22 / 345 * 100%);
                    }
                }
                p {
                    padding-left: calc(40 / 500 * 100%);
                    padding-right: 0;
                    margin-left: 0;
                    @include sp {
                        padding-left: calc(22 / 345 * 100%);
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        &:nth-child(3) {
            .service__textarea {
                h4 {
                    padding-right: 0;
                    margin-top: 2rem;
                    margin-left: calc(238 / 500 * 100%);
                    @include sp {
                        padding-right: 0;
                        margin-top: 0;
                        margin-left: calc(20 / 315 * 100%);
                        padding-top: 1.9rem;
                    }
                }

                p {
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: calc(238 / 500 * 100%);
                    margin-top: 1.8rem;
                    @include sp {
                        padding-left: 0;
                        margin-top: 1.2rem;
                        margin-left: calc(20 / 315 * 100%);
                    }
                }
            }
        }
    }
}
// works
.works {
    padding: 4.9rem 0 8.1rem;
    @include sp {
        padding: 1.9rem 0 4.1rem;
    }
    &__title {
        @include title;
    }
    &__contents {
        margin-top: 7rem;
        @include sp {
            margin-top: 4rem;
        }
    }
    &__items {
        display: flex;
        justify-content: center; 
        
        gap: calc(40 / 920 * 100%);
        @include sp {
            flex-wrap: wrap;
            row-gap: 2.2rem;
        }
    }
    &__item {
        width: calc(200 / 920 * 100%); 
        
        @include sp {
            width: 100%;
        }
        
        .works__image {
            width: 100%; 
            aspect-ratio: 200 / 200;
            @include sp {
                width: 100%;
                aspect-ratio: 315 / 250;
            }
        }
        .works__textarea {
            text-align: left;
            h3 {
                font-size: 1.6rem;
                line-height: calc(25 / 16);
                font-weight: 500;
                margin-top: 1.9rem;
                @include sp {
                    margin-top: 0.9rem;
                    margin-bottom: 0;
                }
            }
        }
    }
}
// news
.news {
    padding: 4.9rem 0 8.1rem;
    background: $background;
    @include sp {
        padding: 1.9rem 0 5rem;
    }
    &__title {
        @include title;
    }
    &__items {
        display: flex;
        column-gap: calc(60 / 920 * 100%);
        margin-top: 7rem; 
        @include sp {
            flex-direction: column;
            row-gap: 5rem;
            margin-top: 4.1rem;
        }
        & :first-child .news__article-link:nth-of-type(3) {
            @include sp {
                .news__text p {
                    width: 85%;
                }
            }
        }
    }
    &__item {
        width: calc(430 / 920 * 100vw);
        background: $color-white;
        padding-bottom: 2.9rem;
        @include sp {
            width: 100%;
            margin-top: 0;
            padding-bottom: 4.1rem;
        }
        
        .news__catch {
            background: $main-color;
            width: 95.3%;
            height: calc(50 / 1080 * 100vw);
            display: flex;
            align-items: center;
            gap: calc(60 / 1080 * 100vw);
            padding-left: calc(45 / 960 * 100%); 
            @include sp {
                width: 93.5%;
                height: auto;
                padding: 1rem 0 1rem 6.5%;
                margin-bottom: 1rem;
            }
            
            h3 {
                font-size: 2rem;
                font-weight: 600;
                color: $color-white;
                margin: 0;
                @include sp {
                }
            }
        }
    }
    
    &__article-link {
        display: flex;
        border-bottom: 1px solid $main-color;
        text-decoration: none;
        color: inherit;
        transition: opacity 0.4s;
        margin-left: calc(45 / 960 * 100%);
        margin-right: calc(45 / 960 * 100%);
        padding-top: 2.7rem; 
        padding-bottom: 1.2rem;
        @include sp {
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 1.9rem; 
            padding-bottom: 1.3rem;
        }
        &:nth-of-type(2) {
            margin-top: 0;
            padding-top: 0.7rem;
            @include sp {
                padding-top: 0.9rem;
                padding-bottom: 1.3rem;
            }
        }
        &:nth-of-type(3) {
            margin-top: 0;
            padding-top: 0.7rem;
            @include sp {
                padding-top: 1rem;
                padding-bottom: 1.1rem;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
    
    &__date {
        font-size: 1.6rem;
        font-weight: 500;
        width: calc(53 / 1080 * 100vw);
        white-space: nowrap;
        
        @include sp {
            width: auto;
            padding-top: 0;
            padding-left: calc(5 / 345 * 100%);
            white-space: nowrap;
        }
    }
    
    &__text {
        flex: 1;
        p {
            margin: 0;
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: calc(8 / 960 * 100%); 
            margin-left: calc(195 / 960 * 100%);
            line-height: calc(25 / 18);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        @include sp {
            p {
                margin-top: 0;
                margin-right: calc(1 / 345 * 100%);
                margin-left: calc(30 / 345 * 100%);
            }
        }
    }
    &__article-link:nth-of-type(2) {
        margin-top: 1rem;
        @include sp {
            .news__text p {
                margin-right: calc(10 / 345 * 100%);
            }
        }
    }
    &__article-link:nth-of-type(3) {
        margin-top: 1rem;
        @include sp {
            .news__text p {
                margin-right: calc(10 / 345 * 100%);
            }
        }
    }
    &__more {
        text-align: right;
        margin-top: 2.6rem;
        @include sp {
            margin-top: 1.5rem;
            margin-right: 5%;
        }
        a {
            font-family: "Yu Mincho", serif;
            font-size: 1.7rem;
            line-height: calc(20 / 20);
            font-weight: 600;
            color: $main-color;
            text-decoration: none;
            display: inline-block;
            position: relative;
            padding-right: calc(118 / 920 * 100%);
            cursor: pointer;
            transition: opacity 0.4s, transform 0.3s; 
            
            @include sp {
                font-size: 1.75rem;
                top: calc(10 / 345 * 100vw);
                left: calc(2 / 345 * 100vw);
            }
            
            @media (hover: hover) {
                &:hover {
                    opacity: 0.7;
                    transform: translateX(10px); 
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0%;
                transform: translateX(-55%);
                bottom: 8px;
                width: 8.3rem;
                height: 30px;
                background: url('../images/more.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right bottom;
                @include sp {
                    top: -52%;
                    transform: translateX(-58%);
                    bottom: auto;
                    width: 8.5rem;
                    height: 40px;
                }
            }
        }
    }
}
// company
.company {
    padding: 4.9rem 0 13.7rem;
    @include sp {
        padding: 1.9rem 0 5rem;
    }
    &__title {
        @include title;
    }
    &-item {
        position: relative; 
        @include sp {
            display: flex;
            flex-direction: column;
        }
        
        &__map {
            position: relative;
            aspect-ratio: 600 / 400; 
            width: calc(600 / 920 * 100%);
            z-index: 20;
            margin-top: 7rem;
            @include sp {
                width: 100%;
                margin-top: 2rem;
                aspect-ratio: 315 / 300;
            }
            iframe {
                width: 100%;  
                height: 100%; 
                border: 0;
            }
        }
        &__info {
            background: $main-color;
            width: calc(500 / 920 * 100%);
            aspect-ratio: 500 / 262;
            height: auto;
            box-sizing: border-box; 
            font-weight: 600;
            color: $color-white;
            position: absolute;
            right: 0;
            bottom: -5.8rem;
            z-index: 10;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: flex-end;
            padding: 2rem 0.5rem 2.2rem calc(258 / 1080 * 100%);
            font-style: normal; 
            @include sp {
                position: relative;
                width: 100%;
                aspect-ratio: auto;
                bottom: 0;
                margin-top: 1.9rem;
                padding: 2rem 6.2% 1.2rem;
                justify-content: flex-start;
            }
        }
        &__name p {
            font-size: 2rem;
            margin: 0;
        }
        &__address p{
            font-size: 1.6rem;
            line-height: calc(25 / 16);
            margin: 0;
            margin-top: 0.9rem;
        }
        &__tel {
            margin-top: 0.6rem;
            a {
                font-size: 2.5rem;
                pointer-events: none;
                text-decoration: none;
                color: $color-white;
                font-weight: 600;
                cursor: default;
                @include sp {
                    pointer-events: auto;
                    cursor: pointer;
                }
            }
            span {
                font-size: 1.6rem;
            }
        }
        &__mail {
            margin-top: 1.2rem;
            font-size: 1.6rem;
            margin-bottom: 2.1rem;
            text-decoration: none;
            @include sp {
                margin-top: 1.4rem;
                margin-bottom: 0;
            }
            a {
                transition: opacity 0.4s;
                color: $color-white;
                
                &:hover { 
                    opacity: 0.7;
                }
            }
        }
    }
}

// contact
.contact {
    padding: 4.9rem 2rem 8rem;
    background: $background;
    @include sp {
        padding: 1.9rem 3rem 5rem;
    }
    &__title {
        @include title;
        p {
            letter-spacing: 0.24em;
            @include sp {
                text-indent: 0.5em;
                letter-spacing: 0.24em;
            }
        }
    }
    &__contents {
        width: calc(800 / 880 * 100%);
        max-width: 800px;
        margin: 3.8rem auto 0;
        box-sizing: border-box;
        @include sp {
            width: 100%;
            margin-top: 3.7rem;
        }
    }
    &__text {
        font-size: 2rem;
        line-height: calc(33 / 20);
        font-weight: 500;
        text-align: left;
        margin-top: 1rem;
        @include sp {
            margin: 0;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        @include sp {
            row-gap: 2rem;
        }
    }
    &__item {
        display: flex;
        align-items: flex-start;
        width: 100%;
        @include sp {
            flex-direction: column;
            align-items: flex-start;
        }

        &:nth-child(2) {
            @include sp {
                flex-direction: row; 
                align-items: center;
                gap: calc(22 / 345 * 100%);
            }
        } 

        &:has(.contact__input--checkbox),
        &:has(.contact__policy),
        &:has(textarea) {
            flex-direction: column;
            .contact__label,
            .contact__input,
            .contact__policy {
                width: 100%;
            }
        }
    }
    &__label {
        font-size: 2rem;
        line-height: calc(27 / 20);
        font-weight: 500;
        margin-top: 1.3rem; 
        @include sp {
            margin: 0;
        }

        p {
            margin: 0;
        }

        label {
            display: flex;
            align-items: center;
            @include sp {
                display: block;
                text-align: left;
            }
        }
    }
    &__item:nth-child(1) {
        margin-top: 4.9rem;
        @include sp { 
            margin-top: 2.2rem; 
        }
    }
    &__item:nth-child(2) {
        margin-top: 1rem;
    }
    &__item:nth-child(3) {
        margin-top: 2.2rem;
        letter-spacing: -0.04em;
        @include sp {
            margin-top: 1.4rem;
            letter-spacing: 0;
        }
    }
    &__item:nth-child(4) {
        margin-top: 1.9rem;
        @include sp {
            margin-top: 1.3rem;
        }
    }
    &__item:nth-child(5) {
        margin-top: 1rem;
        @include sp {
            margin-top: 1.4rem;
        }
    }
    &__item:nth-child(6) {
        margin-top: 0.7rem;
        @include sp {
            margin-top: 0.7rem;
        }
    }
    &__item:nth-child(7) {
        @include sp {
            margin-top: -1rem;
        }
    }
    &__input {
        flex: 1;
        height: calc(50 / 800 * 100%);
        @include sp {
            width: 100%;
            height: auto;
        }
        .contact__item:nth-child(1) & {
            margin-left: calc(110 / 920 * 100%);
            @include sp { 
                margin-left: 0; 
                margin-top: 0.4rem; 
            }
        }
        .contact__item:nth-child(2) & {
            margin-left: calc(148 / 920 * 100%);
            @include sp { 
                margin-left: calc(30 / 345 * 100%); 
                margin-top: 0.4rem; 
            }
        }
        .contact__item:nth-child(3) & {
            margin-left: calc(21 / 920 * 100%); 
            @include sp { 
                margin-left: 0; 
                margin-top: 0.4rem; 
            }
        }
        .contact__item:nth-child(4) & {
            margin-left: calc(33 / 920 * 100%); 
            @include sp { 
                margin-left: 0; 
                margin-top: 0.2rem; 
            }
        }
        input[type="text"],
        input[type="email"],
        select,
        textarea {
            width: 100%;
            padding: 1.2rem 2rem;
            font-size: 1.8rem;
            line-height: 1.5;
            background: $color-white;
            box-sizing: border-box;
            font-family: inherit;
            outline: none;   
            border: none; 
            &::placeholder {
                color: #A0A0A0;}
            @include sp {
                font-size: 1.6rem;
                line-height: 1.2;
                padding: 1.5rem 2rem;
            }
        }
        select {
            appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M0 0l5 6 5-6z" fill="%234d9600"/></svg>');
            background-repeat: no-repeat;
            background-position: right 2.1rem center;
            background-size: 19px auto;
            padding: 1.2rem 2.1rem;
            cursor: pointer;
            @include sp {
                margin-top: 0.2rem;
                padding: 1.6rem 2.1rem;
            }
        }
        textarea {
            resize: none;
            min-height: 150px;
            line-height: 1.5;
            aspect-ratio: 800 / 200;
            margin-top: 1.2rem;
            word-break: break-word;
            @include sp {
                aspect-ratio: auto;
                margin-top: 0.2rem;
                aspect-ratio: 315 / 200;
            }
        }
        &--radio {
            display: flex;
            align-items: center;
            gap: calc(102 / 920 * 100%);
            padding-top: 1.3rem;
            @include sp {
                gap: calc(53 / 345 * 100%);
                padding: 0;
                margin: 0;
            }
            label {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                cursor: pointer;
                @include sp {
                    font-size: 1.8rem;
                }

                input[type="radio"] {
                    margin-right: 1.8rem;
                    width: 2rem;
                    height: 2rem;
                    appearance: none !important; 
                    background: #fff !important;
                    border: none !important; 
                    border-radius: 50%;
                    cursor: pointer;
                    @include sp {
                        margin-right: 0.8rem;
                    }

                    &:checked {
                        background: $main-color !important;
                    }
                }
            }
        }

        &--checkbox {
            display: flex;
            flex-wrap: wrap;
            row-gap: calc(12 / 920 * 100vw);
            margin-top: 1.3rem;
            @include sp {
                margin-top: 0.1rem;
                row-gap: calc(3 / 345 * 100vw);
            }

            label {
                display: flex;
                align-items: center;
                font-size: 1.8rem;
                font-weight: 500;
                cursor: pointer;
                width: 25%;
                box-sizing: border-box;
                column-gap: calc(90 / 920 * 100%);
                @include sp {
                    width: 50%; 
                    font-size: 1.6rem;
                    column-gap: calc(22 / 345 * 100%);
                    margin-bottom: 0rem;
                }
                input[type="checkbox"] {
                    width: 2rem;
                    height: 2rem;
                    appearance: none !important; 
                    -webkit-appearance: none !important; 
                    background: #fff !important;
                    border: none !important; 
                    cursor: pointer;
                    margin-left: 0;
                    margin-right: 0;

                    &:checked {
                        background: $main-color !important;
                        border-color: $main-color !important;
                    }
                }
            }
        }
    }
    
    &__policy {
        width: 100%;
        @include sp {
            margin-top: 0rem;
        }

        &-title { 
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 500;
            @include sp {
                margin-bottom: 0.1rem;
            }
        }
        &-box {
            width: 100%;
            background: $color-white;
            padding: 4rem 6rem 4rem 4rem; 
            overflow-y: scroll;
            box-sizing: border-box;
            aspect-ratio: 800 / 300;
            border: none; 
            @include sp {
                padding: 3.1rem 5rem 3.1rem 3rem; 
                aspect-ratio: auto;
                aspect-ratio: 315 / 323;
            }

            p {
                font-size: 1.8rem; 
                line-height: calc(31 / 18);
                font-weight: 500;
                margin: 0;
                margin-bottom: 3rem;
                @include sp {
                    font-size: 1.6rem;
                    line-height: calc(33 / 16);
                    margin-bottom: 3.2rem;
                }
            }

            .policy-list {
                margin-bottom: 2.5rem;
                padding-left: 1.5em;
                list-style: disc;
                
                li {
                    font-size: 1.8rem;
                    line-height: 1.7;
                    margin-bottom: 0.5rem;
                    
                    @include sp {
                        font-size: 1.6rem;
                    }
                }
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__submit {
        text-align: center;
        margin-top: 5.1rem;

        @include sp {
            margin-top: 3.1rem;
        }

        button {
            background: $main-color;
            color: $color-white;
            font-size: 2rem;
            font-weight: 600;
            width: calc(300 / 1080 * 100vw);
            aspect-ratio: 300 / 50;
            border: none;
            cursor: pointer;
            transition: background-color 0.4s, color 0.4s, opacity 0.4s;
            border: 2px solid $main-color;
            @media (hover: hover) {
                &:hover {
                    background-color: $color-white; 
                    color: $main-color;            
                    opacity: 1;                     
                }
            }
            @include sp {
                width: 100%;
                aspect-ratio: 315 / 50;
                font-size: 2rem;
            }
        }
    }
}

// footer
.footer {
    padding: 6.6rem 0 0;
    background: #fff;
    @include sp {
        padding: 3.5rem 0 0;
    }
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        h2 {
            font-size: 2rem;
            font-weight: 500;
            a {
                color: rgba(0, 0, 0, 1);
                text-decoration: none;
                transition: opacity 0.4s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__nav {
        width: 100%;
        padding-top: 0.2rem;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-inline: auto;
            flex-wrap: wrap;
            column-gap: calc(65.5 / 920 * 100%);
            list-style: none;
            padding: 0;
            border-top: 1px solid rgba(0, 0, 0, 1);
            padding-top: 2.7rem;
            width: calc(722 / 920 * 100%);
            @include sp {
                width: 100%;
                gap: 0.5rem 2rem;
                margin-top: 0.2rem;
                column-gap: calc(34 / 345 * 100%);
                padding-top: 2rem;
            }
            li a {
                color: rgba(0, 0, 0, 1);
                text-decoration: none;
                font-size: 1.8rem;
                line-height: calc(33 / 18);
                font-weight: 500;
                transition: opacity 0.4s;
                @media (hover: hover) {
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    &__sns {
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.8rem;
            list-style: none;
            margin-top: 1.7rem;
            padding: 0;
            
            @include sp {
                margin-top: 1.8rem;
                gap: calc(32 / 345 * 100%);
            }

            li {
                display: flex;
                align-items: center;
                line-height: 1;
            }
        }

        .sns-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            transition: transform 0.4s, opacity 0.3s;
            
            img {
                width: 100%;
                height: auto;
                display: block;
            }

            @include sp {
                width: 2.8rem;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__copyright {
        background: $main-color;
        color: $color-white;
        font-weight: 500;
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 100%;
        margin-top: 6.9rem;
        aspect-ratio: calc(1080 / 92);
        @include sp {
            margin-top: 3.8rem;
            padding: 2.2rem 0; 
            text-align: center;
        }
        .copyright {
            font-size: 2rem;
            line-height: calc(33 / 20);
            opacity: 0.8;
            margin: 0;
            @include sp {
                line-height: calc(25 / 20);
                margin: 0;
            }
        }
    }
}

/* ==============================================
   モーダル & TOPに戻るボタン用スタイル
   ============================================== */

.js-modal-target {
    cursor: pointer;
}

.pagetop {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 5rem;
    height: 5rem;
    background: $main-color;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    z-index: 100;
    transition: opacity 0.4s, visibility 0.3s;
    font-size: 1.4rem;
    @media (hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
    }
}

/* モーダル本体 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is-open {
        opacity: 1;
        visibility: visible;
    }
    &__close {
        position: absolute;
        top: calc(222 / 1080 * 100%);
        right: calc(223 / 1080 * 100%);
        width: 15px;
        height: 15px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
        @include sp {
            top: calc(112 / 345 * 100%);
            right: calc(10 / 345 * 100%)
        }

        span {
            display: block;
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            left: 0;

            &:nth-child(1) { transform: rotate(45deg); }
            &:nth-child(2) { transform: rotate(-45deg); }
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer; 
    }

    /* 拡大画像の中身 */
    &__content {
        position: relative;
        z-index: 1;
        width: 90%; 
        max-width: 800px;
        
        img {
            width: 100%;
            height: auto;
        }
    }
}

body.no-scroll {
    overflow: hidden;
}